.main__wrapper{
    max-width: 25%;
    max-height: 45%; 
    background-color: rgb(153, 153, 153);
    margin: 5% auto; 
    min-height: 40%; 
    display: grid;
    
}

.container{
    display: grid;
    grid-template-rows: 240px 240px 240px;
} 

.controls{
    background-color: rgb(228, 218, 207);
} 

.controls__inner__container{
 display:grid; 
 grid-template-rows: 120px 120px; 
 grid-template-columns: 340px;
 min-width: 80%;
 justify-content: center;
 align-items: center;
 
  
} 

span{
    content:" "; 
    display:inline-block; 
    width:89px;
}

.controls__unit__options{
   display: inline-block;
} 

.radio__left{
    max-width: 26px;
    margin: 0; 
    padding: 0;
}

.radio__right{
    max-width: 26px;
    margin:0; 
    padding: 0;
}
.controlLabel{
    max-width: 120px;
    
} 

.controls__arrows__options span{ 
    width: 160px;

}

.arrowImage:hover{
cursor: pointer;
}

.arrowImage:active{
    background-color: rgb(245, 245, 245); 
    cursor: pointer;
    }
